<main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        {{#unless cryptos}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/unless}}
        {{#if cryptos}}
        <div class="offer-list">
        {{/if}}
            {{#each cryptos}}
            <div class="coin">
                <div class="coin-img">
                    <img src={{imageUrl}}>
                </div>
                <div class="coin-info">
                    <h1>{{name}}</h1>
                    <p><span>Price: </span>{{price}}</p>
                    <p><span>Payment: </span>{{payment}}</p>
                </div>

                <a href="/details/{{_id}}" class="btn-details">Details</a>
            </div>
            {{/each}}
        </div>
    </section>
</main>